.add-category-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-category-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  height: 80%;
  width: 50%;
  min-width: 300px;
}
